h1, h2, h3, h4, p {
    font-family: Arial, Helvetica, sans-serif;
}

#landing-page-container, #create-inst-form-container {
    padding: 68px;
}

#trending-container, .form-container {
    /* border: 1px solid black; */
    padding: 12px;
}

.trending-instruments-container {
    /* border: 1px solid red; */
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.instrument-container {
    border: 0.5px solid rgb(0, 0, 0, 0.2);
    border-radius: 12px;
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.instrument-dtl-container {
    /* border: 1px solid green; */
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.instrument-image {
    height: 200px;
    margin-top: 12px;
}

.add-to-cart-button {
    width: 50%;
    margin-top: auto;
    background-color: rgb(190, 0, 0);
    box-shadow: 0.5px 0.5px 1px 1px;
    border: none;
    height: 24px;
    margin-bottom: 12px;
    border-radius: 4px;
}

.add-to-cart-button:hover {
    background-color: rgb(235, 0, 0);
}

.add-to-cart-text {
    text-decoration: none;
    color: white;
}

/* .inst-dtl-text {
    color: red;
} */

#dice-button {
    background-color: white;
    border: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 0, 0, 0.75);
    padding: 4px;
    border-radius: 8px;
    width: 160px;
    align-items: center;
}

#dice-button:hover {
    background-color: rgb(120, 0, 0);
    cursor: pointer;
}

#dice-icon {
    font-size: 36px;
    margin-top: 12px;
    color: white;
}

#dice-text {
    color: white;
}