
.category-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}


.category-filter-container {
    width: 25%;
    min-width: 240px;
    margin-right: 60px;
}

.category-instrument-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.filter-containers {
    margin-bottom: 32px;
}

.filter-price-input-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 24px;
}

.filter-price-labels {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand-filter-container {
    /* border: blue solid 1px; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-dot {
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 50%;
}

.brand-filter-labels {
    color: rgb(190, 0, 0);
    margin-left: 12px;
    font-size: 20px;
}
.brand-filter-labels:hover {
    text-decoration: underline;
}

.filter-price-text-bar {
    width: 100%;
}

.filter-price-labels {
    color: rgb(190, 0, 0);
    font-size: 20px;
}

.filter-price-text-bar:hover {
    box-shadow: 0 0 10px 4px rgb(225, 0, 0, 0.5);
}

.filter-condition-input-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter-condition-btn {
    background-color: white;
    width: 100%;
    height: 32px;
    border: none;
    font-size: 16px;
    border-radius: 12px;
}
.filter-condition-btn.selected {
    background-color: rgb(190, 0, 0);
}
.filter-condition-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 12px 4px rgb(225, 0, 0, 0.5);
}

.category-inst-info-container {
    width: 240px;
}

.inst-details-text {
    padding: 12px;
    width: 300px;
    font-style: italic;
    margin-left: 12px;
}

.category-add-to-cart-button {
    width: 160px;
    margin-top: auto;
    margin-right: 16px;
    background-color: rgb(190, 0, 0);
    border: none;
    height: 56px;
    margin-bottom: 12px;
    border-radius: 4px;
}
.category-add-to-cart-button:hover {
    background-color: rgb(235, 0, 0);
    box-shadow: 0 0 10px 2px rgb(225, 0, 0, 0.5);
}

.category-add-to-cart-text {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.category-add-to-cart-button.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.category-add-to-cart-button.disabled:hover {
    background-color: black;
}

.category-fav-btn {
    margin: 24px 24px 24px auto;
}

@media (max-width: 650px) {
    .category-container {
        flex-direction: column;
    }
}

@media (max-width: 1200px) {
    .instrument-container {
        flex-direction: column;
        width: 65%;
        margin: 12px auto;
        padding: 12px;
        align-items: center;
    }
}