
.news-tab {
    /* border: 1px solid blue; */
    width: 80%;
    margin: 24px auto 24px auto;
    display: flex;
    flex-direction: row;
    height: 360px;
}

.news-text {
    color: rgb(190, 0, 0);
}

.news-text-container {
    margin-right: 24px;
}

.news-image {
    height: 360px;
    width: 520px;
    object-fit: cover;
}